<ion-header>
  <ion-toolbar color="primary">
    <ion-title   color="light">Goals</ion-title>
    <ion-buttons slot="end">
      <ion-back-button color="light"></ion-back-button>
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-progress-bar *ngIf="loading"  type="indeterminate"></ion-progress-bar>
  <ion-grid>
    <ion-row>
      <ion-col class="smallTabs">
        <a [ngClass]="{'right': true, 'active' : view === 'running' }" (click)="view = 'running'">Lopend</a>
        <a [ngClass]="{'right': true, 'active' : view === 'completed' }" (click)="view = 'completed'">Behaald </a>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="centered">
          <ion-button [routerLink]="['/client/goals/create']" fill="outline" size="default">Nieuwe goal</ion-button>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-grid *ngIf="view === 'completed'" class="completed">
        <ion-row *ngIf="completed"   class="completed goal">
            <ion-col *ngIf="completed.length > 0" size="12"  >
                <ion-item button="false" *ngFor="let goal of completed" (click)="changeStatus(goal)">
                  <ion-icon slot="start" name="radio-button-on"></ion-icon>
                  <ion-label>
                    <h2>{{goal.title}}</h2>
                    <p class="time" *ngIf="goal.startDate && goal.endDate">
                      {{goal.startDate.substring(0, 10)}} - {{goal.endDate.substring(0, 10)}}
                    </p>
                    <p class="time" *ngIf="goal.endDate && !goal.startDate">
                      {{goal.endDate.substring(0, 10)}}
                    </p>
                  </ion-label>
                  <ion-icon [ngClass]="{'open': !goal.status, 'done': goal.status}"  slot="end" name="checkmark"></ion-icon>
                </ion-item>
              </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="view === 'running'" class="running">
          <ion-row *ngIf="running"  class="running goal">
              <ion-col size="12" *ngIf="running.length > 0"  >
                  <ion-item button="true" *ngFor="let goal of running" (click)="changeStatus(goal)">
                    <ion-icon slot="start" name="radio-button-on"></ion-icon>
                    <ion-label>
                      <h2>{{goal.title}}</h2>
                      <p class="time" *ngIf="goal.startDate && goal.endDate">
                        {{goal.startDate.substring(0, 10)}} - {{goal.endDate.substring(0, 10)}}
                      </p>
                      <p class="time" *ngIf="goal.endDate && !goal.startDate">
                        {{goal.endDate.substring(0, 10)}}
                      </p>
                    </ion-label>
                    <ion-icon [ngClass]="{'open': !goal.status, 'done': goal.status}"  slot="end" name="checkmark"></ion-icon>
                  </ion-item>
                </ion-col>
          </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>
<app-toolbar-client></app-toolbar-client>