ion-toast {
    margin-bottom: 55px;
}
ion-header {
    background: var(--ion-color-primary);
    text-align: center;
    padding-bottom: 20px;
    ion-img {
        width: 30%;
        margin: 20px auto 10px auto;
    }  
}
.subMenu {
    ion-item {
        margin-left: 15px;
    }
}